:root {
  color-scheme: light dark;
  background-color: #172211;
  font-family: Arial, Helvetica, sans-serif;
}

/* --- Reset CSS Sencillo --- */
html {
  box-sizing: border-box;
  width: 90%;
  overflow-x: hidden;
}

body{
    width: 90%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
